body{
    margin: 0;
    padding: 0;
}

.animate {
    font-size: 40px;
    margin: 100px 0 0;
}
.animate span {
    display: inline-block;
}

.box span {
    color: #000;
    opacity: 0;
    transform: translate(-150px, 0) scale(.5);
    animation: leftRight 1s forwards;
}

@keyframes leftRight {
    40% {
        transform: translate(30px, 0) scale(.7);
        opacity: 1;
        color: #000;
    }
    60% {
        color: #000;
    }
    80% {
        transform: translate(0) scale(1.1);
        opacity: 1;
    }
    100% {
        transform: translate(0) scale(1);
        opacity: 1;
    }
}

.testshopdiv{
    width: 400px;
    height: 180px;
    background: #ffc001;
}

.testshopdiv_cover1{
    width: 100px;
    height: 180px;
    background: rgba(0,0,0,0.5);
    /*opacity: 0;*/
    /*transition: opacity 1s;*/
    float: right;
}
/*.testshopdiv:hover .testshopdiv_cover1{
    opacity: 1;
    transition: opacity 1s;
    animation: gelatine 0.5s;
}*/

@keyframes gelatine {
    /*from, to {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }*/

    25% {
        -webkit-transform: scale(0.9, 1.05);
        transform: scale(0.9, 1.1);
    }

    50% {
        -webkit-transform: scale(1.1, 0.9);
        transform: scale(1.1, 0.9);
    }

    75% {
        -webkit-transform: scale(0.95, 1.05);
        transform: scale(0.95, 1.05);
    }
}
@keyframes gelatine2 {
    /*from, to {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }*/

    25% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    75% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
}

/*@keyframes rightin {
!*    40% {
        transform: translate(0, 0) scale(.7);
        opacity: 1;
        color: #000;
    }
    60% {
        color: #000;
    }
    80% {
        transform: translate(0) scale(1.1);
        opacity: 1;
    }*!
    100% {
        !*transform: translate(0) scale(1);*!
        opacity: 1;
    }
}*/

.testshopdiv_cover2{
    width: 0px;
    transition:width 1s;
    height: 180px;
    background-image: linear-gradient(to right, yellow , black);
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    float: right;
}
.testshopdiv:hover .testshopdiv_cover2{
    width: 100px;
    transition: width 1s;
}





