<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org">
<head>
    <meta charset="UTF-8">
    <title>商家-建材</title>
    <link rel="stylesheet" th:href="@{../eBao/css/shopindex.css}">
    <link rel="stylesheet" th:href="@{../eBao/css/category/category.css}">
</head>
<body>
<div class="container">
    <div class="container_main">
        <div class="container_main_head">
            <div class="container_main_line">
                <hr>
            </div>
            <div class="container_main_title"><span>全&nbsp部&nbsp建&nbsp材</span></div>
            <div class="container_main_line">
                <hr>
            </div>
        </div>
        <div class="container_main_body bgBuild">
            <ul class="vehicle-panel_list">
                <li class="vehicle-panel_item">
                    <a href="javascript:void(0);" onclick="goSecond('#idInstrument')">
                        <div class="vehicle-panel_item-textcon">
                            <span class="vehicle-panel_item-text">建筑仪器</span>
                        </div>
                    </a>
                </li>
                <li class="vehicle-panel_item">
                    <a href="javascript:void(0);" onclick="goSecond('#idPart')">
                        <div class="vehicle-panel_item-textcon">
                            <span class="vehicle-panel_item-text">建筑扣件</span>
                        </div>
                    </a>
                </li>
                <li class="vehicle-panel_item">
                    <a href="javascript:void(0);" onclick="goSecond('#idStructural')">
                        <div class="vehicle-panel_item-textcon">
                            <span class="vehicle-panel_item-text">结构材料</span>
                        </div>
                    </a>
                </li>
                <li class="vehicle-panel_item">
                    <a href="javascript:void(0);" onclick="goSecond('#idDecorative')">
                        <div class="vehicle-panel_item-textcon">
                            <span class="vehicle-panel_item-text">装饰材料</span>
                        </div>
                    </a>
                </li>
                <li class="vehicle-panel_item">
                    <a href="javascript:void(0);" onclick="goSecond('#idProprietary')">
                        <div class="vehicle-panel_item-textcon">
                            <span class="vehicle-panel_item-text">专用材料</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    function goSecond(second) {
        var theShopId = localStorage.getItem("theShopId");
        location.href = "../eBao/buildcommodityindex2?shopId=" + theShopId;
    }
</script>
</body>
</html>