<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org">
<head>
    <meta charset="UTF-8">
    <title>商家-节日</title>
    <link rel="stylesheet" th:href="@{../eBao/css/shopindex.css}">
    <link rel="stylesheet" th:href="@{../eBao/css/category/category.css}"></head>
<body>
    <div class="container">
        <div class="container_main">
            <div class="container_main_head">
                <div class="container_main_line"><hr></div>
                <div class="container_main_title"><span>节&nbsp日</span></div>
                <div class="container_main_line"><hr></div>
            </div>
            <div class="container_main_body bgFestival">
                <ul class="vehicle-panel_list">
                    <li class="vehicle-panel_item">
                        <a href="javascript:void(0);" onclick="goSecond('#idInflatableModel')">
                            <div class="vehicle-panel_item-textcon">
                                <span class="vehicle-panel_item-text">气模</span>
                            </div>
                        </a>
                    </li>
                    <li class="vehicle-panel_item">
                        <a href="javascript:void(0);" onclick="goSecond('#idRainbow')">
                            <div class="vehicle-panel_item-textcon">
                                <span class="vehicle-panel_item-text">彩虹/彩带机</span>
                            </div>
                        </a>
                    </li>
                    <li class="vehicle-panel_item">
                        <a href="javascript:void(0);" onclick="goSecond('#idBubbleMachine')">
                            <div class="vehicle-panel_item-textcon">
                                <span class="vehicle-panel_item-text">泡泡机</span>
                            </div>
                        </a>
                    </li>
                    <li class="vehicle-panel_item">
                        <a href="javascript:void(0);" onclick="goSecond('#idBalloon')">
                            <div class="vehicle-panel_item-textcon">
                                <span class="vehicle-panel_item-text">气球</span>
                            </div>
                        </a>
                    </li>
                    <li class="vehicle-panel_item">
                        <a href="javascript:void(0);" onclick="goSecond('#idSnow')">
                            <div class="vehicle-panel_item-textcon">
                                <span class="vehicle-panel_item-text">雪花机</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        function goSecond(second){
            var theShopId=localStorage.getItem("theShopId");
            location.href = "../eBao/festivalcommodityindex2?shopId="+ theShopId;
        }
    </script>
</body>
</html>