<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商家-机械</title>
    <link rel="stylesheet" href="../../static/css/shopindex.css">
</head>
<body>
    <div class="container">
        <div class="container_main">
            <div class="container_main_head">
                <div class="container_main_line"><hr></div>
                <div class="container_main_title"><span>全&nbsp部&nbsp机&nbsp械</span></div>
                <div class="container_main_line"><hr></div>
            </div>
            <div class="container_main_body" style="background-image: url(../../static/images/category/machine.jpg)">
                <ul class="vehicle-panel_list">
                    <li class="vehicle-panel_item">
                        <a href="javascript:void(0);" onclick="goSecond('#idContainer')">
                            <div class="vehicle-panel_item-textcon">
                                <span class="vehicle-panel_item-text">集装箱</span>
                            </div>
                        </a>
                    </li>
                    <li class="vehicle-panel_item">
                        <a href="javascript:void(0);" onclick="goSecond('#idLargeMachine')">
                            <div class="vehicle-panel_item-textcon">
                                <span class="vehicle-panel_item-text">大型机械</span>
                            </div>
                        </a>
                    </li>
                    <li class="vehicle-panel_item">
                        <a href="javascript:void(0);" onclick="goSecond('#idHoisting')">
                            <div class="vehicle-panel_item-textcon">
                                <span class="vehicle-panel_item-text">起重机械</span>
                            </div>
                        </a>
                    </li>
                    <li class="vehicle-panel_item">
                        <a href="javascript:void(0);" onclick="goSecond('#idFarmMachine')">
                            <div class="vehicle-panel_item-textcon">
                                <span class="vehicle-panel_item-text">农用机械</span>
                            </div>
                        </a>
                    </li>
                    <li class="vehicle-panel_item">
                        <a href="javascript:void(0);" onclick="goSecond('#idLoader-Digger')">
                            <div class="vehicle-panel_item-textcon">
                                <span class="vehicle-panel_item-text">挖掘装载机械</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        function goSecond(second){
            var theShopId=localStorage.getItem("theShopId");
            location.href = "../eBao/machinecommodityindex2?shopId="+ theShopId;
        }
    </script>
</body>
</html>