<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org">
<head>
    <meta charset="UTF-8">
    <title>商家-文体</title>
    <link rel="stylesheet" th:href="@{../eBao/css/shopindex.css}">
    <link rel="stylesheet" th:href="@{../eBao/css/category/category.css}"></head>
<body>
    <div class="container">
        <div class="container_main">
            <div class="container_main_head">
                <div class="container_main_line"><hr></div>
                <div class="container_main_title"><span>巫&nbsp杰&nbsp小&nbsp店</span></div>
                <div class="container_main_line"><hr></div>
            </div>
            <div class="container_main_body bgRecreation">
                <ul class="vehicle-panel_list">
                    <li class="vehicle-panel_item">
                        <a href="javascript:void(0);" onclick="goSecond('#idBook')">
                            <div class="vehicle-panel_item-textcon">
                                <span class="vehicle-panel_item-text">书报/杂志</span>
                            </div>
                        </a>
                    </li>
                    <li class="vehicle-panel_item">
                        <a href="javascript:void(0);" onclick="goSecond('#idSport')">
                            <div class="vehicle-panel_item-textcon">
                                <span class="vehicle-panel_item-text">运动</span>
                            </div>
                        </a>
                    </li>
                    <li class="vehicle-panel_item">
                        <a href="javascript:void(0);" onclick="goSecond('#idRelaxation')">
                            <div class="vehicle-panel_item-textcon">
                                <span class="vehicle-panel_item-text">休闲</span>
                            </div>
                        </a>
                    </li>
                    <li class="vehicle-panel_item">
                        <a href="javascript:void(0);" onclick="goSecond('#idOutdoor')">
                            <div class="vehicle-panel_item-textcon">
                                <span class="vehicle-panel_item-text">户外</span>
                            </div>
                        </a>
                    </li>
                    <li class="vehicle-panel_item">
                        <a href="javascript:void(0);" onclick="goSecond('#idEntertainment')">
                            <div class="vehicle-panel_item-textcon">
                                <span class="vehicle-panel_item-text">娱乐</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        function goSecond(second){
            var theShopId=localStorage.getItem("theShopId");
            location.href = "../eBao/recreationcommodityindex2?shopId="+ theShopId;
        }
    </script>
</body>
</html>