.container1{
    float: left;
    width: 10%;
    height: 700px;
}

.container2{
    background-color: white;
    float: left;
    width: 80%;
    height: 700px;
}

.container3{
    float: left;
    width: 10%;
    height: 700px;
}