*{
    margin: 0;
    padding: 0;
}

.eBaoIcon{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.container_header{
    width: 100%;
    height: 120px;
}
        /*logo*/
.container_header_logo{
    position: relative;
    top: 35px;
    cursor: pointer;
    min-height: 40px;
    min-width: 160px;
    font-size: 32px;
    white-space: nowrap;
    float: left;
    display: block;
}

        /*分类标签*/
.container_header_itemcontainer{
    position: relative;
    top: 35px;
    left: 100px;
    float: left;
}
.container_header_item{
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    width: 120px;
    height: 50px;
    font-size: 15px;
    line-height: 50px;
    text-align: center;
    border-style: solid;
    border-bottom-width: 2px;
    border-color: transparent;
    cursor: pointer;
    float: left;
}
.container_header_item:hover{
    border-style: solid;
    border-bottom-color: #ffc001;
    color: #ffc001;
}
.container_header_itemSep{
    position: relative;
    top: 19px;
    width: 1px;
    height: 15px;
    background: #dbdbdb;
    float: left;
}

        /*免费注册登录按钮*/
.container_header_button{
    position: relative;
    top: 45px;
    right: 10px;
    font-family: 黑体;
    font-size: 14px;
    width: 120px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    padding: 7px 16px;
    text-align: center;
    background-color: white;
    color: gray;
    border: 2px solid #ffc001;
    border-radius:50px;
    box-shadow: 2px 2px 10px #d0d1d2;
    outline: none;
    cursor: pointer;
    float: right;
    display: none;
}
.container_header_button:hover{
    background-color: #ffc001;
    color: white;
}

.typecon{
    width: 230px;
    height: 100%;
    /*background-color: #FF5722;*/
    float: right;
}
.typecontext{
    width: 100%;
    height: 120px;
    line-height: 120px;
    display: initial;
}
.typecontext_piccon{
    width: 100px;
    height: 120px;
    /*background-color: #f7e1b5;*/
    /*line-height: 120px;*/
    float: left;
}
.typecontext_pic{
    position: relative;
    top: 33px;
    left: 25px;
    width: 50px;
    height: 50px;
    border:2px solid gray;
    border-radius: 50%;
    background-color: black;
    overflow: hidden;
}
.typecontext_pic img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-user-drag: none;

}
.typecontext_textcon{
    width: 130px;
    height: 120px;
    /*background-color: #ffc001;*/
    float: left;
}
.typecontext_text{
    position: relative;
    top: 35px;
    width: 130px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    /*background-color: #FF5722;*/
}

.typecontext_textcon ul li{
    font-family: 微软雅黑;
    /*overflow: hidden;*/
    user-select:none;
    cursor: pointer;
    list-style: none;
    border-left: 3px solid #d0d1d2;
    font-size: 16px;
}

.typecontext_textcon ul ul{
    transition: all 0.15s;
    /*background-color: #eeeff0;*/
    /*border: none;*/
    display: none;
}
.typecontext_textcon ul ul li{
    /*transition: all 0.25s;*/
    line-height: 30px;
    height: 30px;
    background-color: #eeeff0;
    border: none;
}

.typecontext_textcon ul ul li:hover{
    /*background-color: #eeeff0;*/
    background-color: #ffc001 ;
    color: #FFFFFF;
}