<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>E宝交易网</title>
    <link rel="icon" th:href="@{./images/logo.png}" th:type="@{image/x-icon}">
    <link rel="stylesheet" th:href="@{./css/shopList.css}">
    <script type="text/javascript" th:src="@{./js/jquery-3.5.1.min.js}"></script>
    <script type="text/javascript" th:src="@{http://api.map.baidu.com/api?v=2.0&ak=LQq0W9wA7A54GQ2fRd6YgpvDG14nX1K7}"></script>
    <script type="text/javascript" th:src="@{http://developer.baidu.com/map/jsdemo/demo/convertor.js}"></script>
    <script type="text/javascript" th:src="@{./js/jquery.cookie.js}"></script>
</head>

<body>
<div class="big_container">
<!--导航栏-->
<iframe th:src="@{/index/navigation.html}" width="100%" height="100%" style=" height: 120px" frameborder="0" scrolling="no" name="headFrame"></iframe>
<!--主要内容-->
<div class="container">
    <div class="shop_list">
        <div class="shop">
            <div class="shop_container">
                <div class="title_container" >
                    <li class="title" style="float: left">当前位置：<span id="nowlocation"></span></li>
                    <li class="title" style="float: right"><a th:href="@{./test2.html}"><span >查看地图</span></a></li>
                </div>
                <table th:each="shop:${shoplist}">
                    <tr>
                        <div class="list">
                    <div class="list_container">
                        <div class="shop_pic" >
                            <img th:src="@{./images/Reindeer.png}" height="100%" width="100%" style="border-radius: 50%"/>
                        </div>
                        <div class="shop_text">
                            <div class="shop_name">
<!--商店名称-->
                                <span style="color:#17A4C7" th:text="${shop.shopName}"></span>
                            </div>
                                <div class="shop_service">
<!--服务范围-->
                                    <span style="font-size: 2px"th:text="${shop.businessId}"></span>
                                </div>
                                <div class="shop_service1">
<!--服务简介-->
                                    <span th:text="${shop.address}"></span>
                                </div>
                        </div>
                        <div class="shop_detail">
                            <input type="button" class="detail" value="查看详情">
                        </div>
                    </div>
                </div>
                    </tr>
                </table>

            </div>
        </div>
        <div class="select">
            <div class="title">
                <span >分类查看：</span>
            </div>
        </div>
    </div>
</div>

</div>
<!--底部栏-->
<iframe th:src="@{/index/footer.html}" width="100%" height="100%" frameborder="0" scrolling="no" style="height: 300px;display: block"></iframe>
</div>



<!--首页后分类商铺界面定位-->
<script th:src="@{./js/categoriesLocation.js}"></script>
<script>
    var name = $.cookie('name');
    alert(name);
</script>
</body>
</html>