<!DOCTYPE html>
<html xml:lang="" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>E宝交易网</title>
    <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/shopList.css}">
    <script type="text/javascript" th:src="@{http://lib.sinaapp.com/js/jquery/1.7.2/jquery.min.js}"></script>
    <script type="text/javascript"
            th:src="@{http://api.map.baidu.com/api?v=2.0&ak=LQq0W9wA7A54GQ2fRd6YgpvDG14nX1K7}"></script>
    <script type="text/javascript" th:src="@{http://developer.baidu.com/map/jsdemo/demo/convertor.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.cookie.js}"></script>
    <script th:src="@{https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{http://jrain.oscitas.netdna-cdn.com/tutorial/css/fontawesome-all.min.css}">
</head>

<body>
<div class="big_container">
    <!--导航栏-->
    <iframe th:src="@{/index/navigation.html}" width="100%" height="100%" style=" height: 120px" frameborder="0"
            scrolling="no" name="headFrame"></iframe>
    <!--主要内容-->
    <div class="container">
        <div class="shop_list">
            <!--分类查看-->
            <div class="select">
                <div class="title">
                    <span>分类查看：</span>
                    <div class="menu_container">
                        <div class="vertical-tab" role="tabpanel">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation"><a href="#Section1" aria-controls="home" role="tab"
                                                           data-toggle="tab">住房服务</a></li>
                                <li role="presentation"><a href="#Section2" aria-controls="traffic" role="tab"
                                                           data-toggle="tab">交通工具</a></li>
                                <li role="presentation"><a href="#Section3" aria-controls="furniture" role="tab"
                                                           data-toggle="tab">居家生活</a></li>
                                <li role="presentation"><a href="#Section4" aria-controls="equipment" role="tab"
                                                           data-toggle="tab">设备仪器</a></li>
                                <li role="presentation"><a href="#Section5" aria-controls="mechanics" role="tab"
                                                           data-toggle="tab">机械设备</a></li>
                                <li role="presentation"><a href="#Section6" aria-controls="material" role="tab"
                                                           data-toggle="tab">建材物资</a></li>
                                <li role="presentation"><a href="#Section7" aria-controls="sporting" role="tab"
                                                           data-toggle="tab">文体用品</a></li>
                                <li role="presentation"><a href="#Section8" aria-controls="office" role="tab"
                                                           data-toggle="tab">办公用品</a></li>
                                <li role="presentation"><a href="#Section9" aria-controls="electronic" role="tab"
                                                           data-toggle="tab">电子产品</a></li>
                                <li role="presentation"><a href="#Section10" aria-controls="wedding" role="tab"
                                                           data-toggle="tab">婚庆用品</a></li>
                                <li role="presentation"><a href="#Section11" aria-controls="festival" role="tab"
                                                           data-toggle="tab">节日用品</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!--商家列表-->
            <div class="shop">
                <div class="shop_container">
                    <div class="title_container">
                        <li class="title" style="float: left">当前位置：<span id="nowlocation"></span></li>
                        <li class="title" style="float: right"><a th:href="@{./test2.html}"><span>查看地图</span></a></li>
                    </div>
                    <table th:each="shop:${shoplist}">
                        <tr>
                            <div class="list">
                                <div class="list_container">
                                    <div class="shop_pic">
                                        <img th:src="@{/images/Reindeer.png}" height="100%" width="100%"
                                             style="border-radius: 50%"/>
                                    </div>
                                    <div class="shop_text">
                                        <div class="shop_name">
                                            <!--商店名称-->
                                            <span style="color:#17A4C7" th:text="${shop.shopName}"></span>
                                        </div>
                                        <div class="shop_service">
                                            <!--服务范围-->
                                            <span style="font-size: 2px" th:text="${shop.businessId}"></span>
                                        </div>
                                        <div class="shop_service1">
                                            <!--服务简介-->
                                            <span th:text="${shop.address}"></span>
                                        </div>
                                    </div>
                                    <div class="shop_detail">
                                        <input type="button" class="detail" value="查看详情">
                                    </div>
                                </div>
                            </div>
                        </tr>
                    </table>

                </div>
            </div>

        </div>
    </div>

</div>
<!--底部栏-->
<iframe th:src="@{/index/footer.html}" width="100%" height="100%" frameborder="0" scrolling="no"
        style="height: 300px;display: block"></iframe>
</div>


<!--首页后分类商铺界面定位-->
<!--<script th:src="@{/js/categoriesLocation.js}" th:inline="javascript"></script>-->
<script>
    $(function () {
        /*        if(supportsGeoLocation()){
                    alert("你的浏览器支持 GeoLocation.");
                }else{
                    alert("不支持 GeoLocation.")
                }
                // 检测浏览器是否支持HTML5
                function supportsGeoLocation(){
                    return !!navigator.geolocation;
                }*/

        // 单次位置请求执行的函数
        function getLocation() {
            navigator.geolocation.getCurrentPosition(mapIt, locationError);
        }

        //定位成功时，执行的函数
        function mapIt(position) {
            var lon = position.coords.longitude;
            var lat = position.coords.latitude;
            // alert("您位置的经度是："+lon+" 纬度是："+lat);
            var map = new BMap.Map("allmap");
            var point = new BMap.Point("" + lon + "", "" + lat + "");
            var gc = new BMap.Geocoder();
            translateCallback = function (point) {
                gc.getLocation(point, function (rs) {
                    var addComp = rs.addressComponents;
                    if (addComp.province !== addComp.city) {
                        document.getElementById("nowlocation").innerHTML = addComp.province + ", " + addComp.city + ", " + addComp.district;
                        // document.getElementById("nowlocation").innerHTML = "当前位置："+addComp.province + ", " + addComp.city + ", " + addComp.district + ", " + addComp.street + ", " + addComp.streetNumber;
                    } else {
                        document.getElementById("nowlocation").innerHTML = addComp.city + ", " + addComp.district + ", " + addComp.street + ", " + addComp.streetNumber;
                        // document.getElementById("nowlocation").innerHTML = "当前位置：" + addComp.city + ", " + addComp.district + ", " + addComp.street + ", " + addComp.streetNumber;
                    }

                });
            }
            BMap.Convertor.translate(point, 0, translateCallback);
        }

        // 定位失败时，执行的函数
        function locationError(error) {
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    alert("User denied the request for Geolocation.");
                    break;
                case error.POSITION_UNAVAILABLE:
                    alert("Location information is unavailable.");
                    break;
                case error.TIMEOUT:
                    alert("The request to get user location timed out.");
                    break;
                case error.UNKNOWN_ERROR:
                    alert("An unknown error occurred.");
                    break;
            }
        }

        // 页面加载时执行getLocation函数
        window.onload = getLocation();
    })

</script>

<script>
    // var name = $.cookie('name');
    // alert(name);

</script>
</body>
</html>