<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="shop_text">
    <!--                                        <table id="test_table">-->
    <div class="shop_name">
        <span id="shop_name" style="color:#17A4C7" th:text="${shopName}">Name</span>
        <span th:text="${shopName}">Name</span>
    </div>
    <div class="shop_service">
        <span style="font-size: 2px">提供：各类汽车租赁，汽车维护，汽车检修...</span>
    </div>
    <div class="shop_service1">
        <span>服务简介：面向广大急需用车的用户推出该租车服务，按照行使时常来进行计费，各种车型可供选择。让您享受便捷出行，让您感受开车乐趣。面向广大急需用车的用户推出该租车服务，按照行使时常来进行计费，各种车型可供选择。让您享受便捷出行，让您感受开车乐趣。</span>
    </div>
    <!--                                        </table>-->
</div>
</body>
</html>