<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qr.dao.IndexDao">
<!--    <select id="queryAll" resultType="com.entity.Index">-->
<!--        select * from carport where 1=1-->
<!--        <if test="text!=null and text!=''">-->
<!--            name = #{text}-->
<!--        </if>-->

<!--        limit ${begin},${limit}-->
<!--    </select>-->
<!--    <insert id="insert">-->
<!--        insert into carport(id,residenceConmmunity,carportid,carportname,createtime,carportstate) values(#{id},#{residenceConmmunity},#{carportid},#{carportname},#{createtime},#{carportstate})-->
<!--    </insert>-->
<!--    <delete id="delete">-->
<!--        delete from carport where id in-->
<!--        <foreach collection="list" open="(" close=")" separator="," item="id">-->
<!--            #{id}-->
<!--        </foreach>-->
<!--    </delete>-->
</mapper>