<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qr.dao.InsertOrderDao">
    <insert id="insertOredr">
        insert into lease (leaseId,goodsId,userId,leaseTime) values (#{leaseId},#{goodsId},#{userId},#{leaseTime})
    </insert>
</mapper>